SUPER_ADMIN_ID=
NGROK_AUTH_TOKEN=

DB_USER=
DB_PASS=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=

# excel_wa_sync.py ব্রাউজার দৃশ্যমান রাখতে চাইলে False, আর ব্যাকগ্রাউন্ডে চালাতে চাইলে True
HEADLESS_MODE=True

WEBHOOK_PORT=8090
START_NGROK=False
FORWARD_OTPS_TO=None

# জিএ লাইভ সিঙ্ক চালু করতে চাইলে True, বন্ধ রাখতে চাইলে False লিখুন
ENABLE_GA_SYNC=False