aiogram~=3.13.1
sqlalchemy~=2.0.35
asyncpg
python-dotenv~=1.0.1
psycopg2-binary
playwright
tqdm
colorama
pyngrok
pandas
aiohttp
openpyxl
beautifulsoup4
lxml
requests
httpx
pydantic~=2.9.2
pydantic-settings~=2.5.2
alembic~=1.13.3
fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
python-slugify
email-validator
Pillow
redis
